*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dm Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

nav{
    position: absolute;
    gap: 60px;
    justify-content: center;
    /* z-index: 10; */
    background: transparent;
    
}

li{
    padding: 8px 0;
}

li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

li a:hover{
    color: #32c0c4;
}

nav{
    display: flex;
    width: 100%;
    font-family: Arial, sans-serif;
}

nav ul{

    list-style-type: none;
    padding: 0;
    margin: 10px 0 ;
    display: flex;
    gap: 35px;
}

.search-btn {
  background: #c6c628;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.logo{
    margin-top: 10px;
}



.hero {
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("img/hero.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}
.hero-content {
    max-width: 800px;
    margin-top: 200px;
}
.hero-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero-content h4 {
    font-size:1.5rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight:500;
}



.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 8px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
    font-weight: 600;
}


.btn1  {
    background-color: #663367;
    color: #fff;
}

.btn1:hover {
    background-color: #fff;
    color: #663367;
}


.btn2 {
    background-color: #c6c628;
    color: #fff;
}

.btn2:hover {
    background-color: #fff;
    color: #663367;
}

.btn3 {
    background-color: #fff;
    color: #663367;
}

.btn3:hover {
    background-color: darkblue;
    color: #fff;
}

.btn i {
    margin-left: 8px;
}



.about-section {
    background-color: #F4F7FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 80px;
}


.about-text {
    flex: 1;
}

.about-text h2 {
    color: #663367;
    font-size: 30px;
    font-weight: 600;
    
}

.about-text h4 {
    color: #32c0c4;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.about-text p {
    font-size: 16px;
    line-height:26px;
    font-family: century gothic, sans-serif;
    margin-bottom: 35px;
}


.about-text .btn {
    padding: 10px 15px;
    border: none;
    background-color: #c6c628;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn4:hover {
    background-color: #32c0c4;
    color: white;
}


.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    object-fit: cover;
}


.courses-section {
    text-align: center;
    padding: 60px 8%;
    background-color: #fff;
}

.courses-subtitle {
    color: #32c0c4;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.courses-title {
    color: #663367;
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 700;
}


.courses-container {

    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}


.course-card {
    flex: 1;
    min-width: 280px;
    max-width: 32%;
    text-align: left;
}

.course-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.course-card h3 {
    margin-top: 15px;
    color: #663367;
    font-size: 1.2rem;
}

.course-card p {
    margin: 10px 0 20px;
    line-height: 1.6;
    color: #444;
    font-family: century gothic, sans-serif;
}


.course-btn {
    padding: 10px 22px;
    background: #c6c628;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

.course-btn:hover {
    background: darkblue;
}